<header class="main-header">
  <div class="container">
    <div class="admin-controls" *ngIf="isAdmin">
      <a routerLink="/inventario" class="admin-button">Administrar inventario</a>
      <div class="admin-button empty-button"></div>
    </div>
    
    <nav class="main-nav">
      <ul>
        <li><a routerLink="/inicio" class="nav-button">Inicio</a></li>
        <li><a routerLink="/productos" class="nav-button">Catalogo</a></li>
        <li><a routerLink="/carrito" class="nav-button">Carrito</a></li>
        
        <ng-container *ngIf="isLoggedIn; else loginButton">
          <li><button class="nav-button logout-btn" (click)="logout()">Cerrar sesion</button></li>
          <li class="user-icon">
            <div class="circle-icon" *ngIf="currentUser?.Username as userName">
              {{ userName.charAt(0).toUpperCase() }}
            </div>
          </li>
        </ng-container>
        
        <ng-template #loginButton>
          <li><a routerLink="/login" class="nav-button">Iniciar Sesión</a></li>
        </ng-template>
      </ul>
    </nav>
  </div>
</header>
  
<main class="container">
  <router-outlet></router-outlet>
</main>